{# templates/users/string.html.twig #}
{% set route_parameters = app.current_route_parameters %}

 {% set menuitem = 'users/menu.html.twig' %}
     {% include menuitem %}
{% set route_name = app.current_route %}

routeName:{{ route_name}}<br>
<a href="{{ path('list_user') }}">Homepage</a> <br>
 <a href="user_index"> 
                Back
            </a>
<br>
    <a href="{{ path('user_info') }}">Call child Controller</a>

<br>
The  syntax is used to print variables in Twig. Refresh your browser to get your new lucky string!

<p>The Google tracking code is: {{ tracking }}</p>


Controller Example
<br>
1.<br>
    url_generatingUrl:<br>
    path: /generatingUrl<br>
    controller: App\Controller\UserController::generatingUrl    <br>

<br>
2.
 #[Route('/user_route',name:'user_route')]<br>
    public function user_route(TranslatorInterface $translator)<br>
    {
        $contents = $this->renderView('rotue.html.twig', [<br>
            'category' => '121'
        ]);<br>

        return new Response($contents);<br>
    }
    <hr><br>
<br><br>
    

    <br>
 
 //Generating URLs
     public function generatingUrl(): Response
     {<br>

        $list_user = $this->generateUrl('list_user');<br>
        
        $list_user_full = $this->generateUrl('list_user', [], UrlGeneratorInterface::ABSOLUTE_URL);<br>

        $list_user_full_paams = $this->generateUrl('list_user', ['_locale' => 'nl']);<br>
        
        echo '<a href="../../user_index">Back</a>';<br>
        echo "<br>"; 

        return new Response(<br>
            '<html><body>Url generate :'.$list_user.'<br>Full Url generate :'.$list_user_full.'<br>Paramter Url generate :'.$list_user_full.'</body></html>'<br>
        );<br>
     }<br>
3.
/Streaming File Responses<br>
     #[Route('/file_download')]<br>
    public function download(): BinaryFileResponse<br>
    {<br>
        // send the file contents and force the browser to download it<br>
        return $this->file('/path/to/some_file.pdf');<br>
    }<br>

    