{# templates/lucky/number.html.twig #}
{% extends "base.html.twig" %}

    {% block title %}
        Random Number
    {% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}

    {% block body %}
       Wellcome to second page
    {% endblock %}
     {% block footer %}
         <h4>All copyright @2023</h4>
     {% endblock %}
