{# templates/lucky/number.html.twig #}
{% extends "base.html.twig" %}

    {% block title %}
        Random Number
    {% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}

    {% block body %}
        Random Number of
        <h1>Your lucky number is {{ number }}</h1>
    {% endblock %}
     {% block footer %}
         <h4>All copyright @2023</h4>
     {% endblock %}