{# templates/users/index.html.twig #}
{% extends 'base.html.twig' %}
    {% block header %}
     
     {% set menuitem = 'users/menu.html.twig' %}
     {% include menuitem %}
        
    <br>
    {% endblock %}
    
    {% block body %}
     
     <h2>123</h2>
    {% endblock %}
{% block footer %}
    @2023
{% endblock %}