{# templates/users/index.html.twig #}
{% extends 'base.html.twig' %}
    {% block header %}
     
     {% set menuitem = 'users/menu.html.twig' %}
     {% include menuitem %}
        
    <br>
    {% endblock %}
    
    {% block body %}
      <a href="user_index">
                Back
            </a>
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
    <h2>UserList data Example of Render COntroller</h2>
        {% for user in users %}
            {{user['name']}}
            <br>
            {{ render(controller(
                'App\\Controller\\UserController::userInfo',{'id':user['id']}
            )) }}
            <br>
            <hr>
        {% endfor %}
    <h2></h2>
    {% endblock %}
{% block footer %}
    @2023
{% endblock %}